/**********
base styles
**********/
svg {
    width: 50%;
}

.strokes {
    fill:none;
    stroke:#000000;
    stroke-width:2;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
}

.circles .strokes {
    visibility: hidden;
}

.lines .strokes {
    stroke-dasharray: 41;
    stroke-dashoffset: -40.8;
}

/**********
 animation
**********/
.circles .strokes:nth-of-type(1) {
    animation: show-circles 1s linear forwards;
    animation-delay: .042s;
}

.circles .strokes:nth-of-type(2) {
    animation: show-circles 1s linear forwards;
    animation-delay: .25s;
}

.circles .strokes:nth-of-type(3) {
    animation: show-circles 1s linear forwards;
    animation-delay: .46s;
}

.circles .strokes:nth-of-type(4) {
    animation: show-circles 1s linear forwards;
    animation-delay: .68s;
}

.lines .strokes:nth-of-type(1) {
    animation: draw-lines .17s linear forwards;
    animation-delay: .1s;
}

.lines .strokes:nth-of-type(2) {
    animation: draw-lines .13s linear forwards;
    animation-delay: .34s;
}

.lines .strokes:nth-of-type(3) {
    animation: draw-lines .09s linear forwards;
    animation-delay: .59s;
}

.lines .strokes:nth-of-type(4) {
    animation: draw-lines .17s linear forwards;
    animation-delay: .8s;
}

/**********
 keyframes
**********/
@keyframes show-circles {
    100% {
            visibility: visible;
        }
}

@keyframes draw-lines {
    100% {
        stroke-dashoffset: 0;
    }
}